<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
 
   <!-- 启动spring -->
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
 
   <context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
   </context-param>
   <!-- 启动spring -->
   
   <!-- spring提供的编码过滤器 -->
   <filter>
       <filter-name>characterEncoding</filter-name>
       <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
   </filter>
   
    <filter-mapping>
      <filter-name>characterEncoding</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <!-- spring提供的编码过滤器 -->
   
   
   <filter>
      <filter-name>opensession</filter-name>
      <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
   
      <!-- 配置了这个过滤器以后,将不能进行增删改的操作  如何解决这个问题
        1 添加事务控制
        
        2 没有事务控制时，添加如下代码
       -->
       
       <init-param>
          <param-name>singleSession</param-name>
          <param-value>false</param-value>
       </init-param>
   
   </filter>
   
   
   <filter-mapping>
      <filter-name>opensession</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
 
  <filter>
      <filter-name>struts</filter-name>
      <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
     
   </filter>

   <filter-mapping>
       <filter-name>struts</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
